
/* Table of Contents
----------------------------------

0- Global CSS
1- Heading CSS
2- Button CSS
3- Header Area CSS
4- Home Area CSS
5- About Area CSS
6- Services Area CSS
7- Gallery Area CSS
8- Team Area CSS
9- Testimonials Area CSS
1- Blog Area CSS
11- Contact Area CSS 
12- Appointment Area CSS 
13- Footer Area CSS
14- Scroll-Top Area CSS

*/



/*--------------------- 0- Global CSS (Start) ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --yellow: #FCD900;
  --blue: #035397;
  --white: #fff;
  --grey: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

html {
  font-size: 62.6%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--yellow);
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

section {
  padding: 2rem 5%;
}

.swiper-pagination-bullet{
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
}

.swiper-pagination-bullet-active{
  width: 3rem;
}

.headline {
    font-size: 2.0rem;
    background: #FCD900;
    border-radius: 5px;
    margin-bottom: 15px
}
.headline-red {
    font-size: 2.0rem;
    border-radius: 5px;
    margin-bottom: 15px;
    background: red;
    color: white;
}
/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading h2{
  color: var(--blue);
  text-align: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
}

.heading span {
  color: var(--yellow);
  text-transform: uppercase;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  background: var(--blue);
  text-decoration: none;
  padding: 0.7rem 2rem;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
  background: var(--yellow);
}

/*--------------------- 2- Button CSS (End) ---------------------*/



/*--------------------- 3- Header Area CSS (Start) ---------------------*/
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.header.sticky{
  background: var(--blue);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo h2{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.header .logo h2 span{
  color: var(--yellow);
}

.header .navbar a{
  display: inline-block;
  font-size: 1.8rem;
  color: var(--white);
  margin: 0 0.5rem
}

.header .navbar a:hover,
.header .navbar a.active{
  color: var(--yellow);
}

#menu-btn{
  font-size: 3rem;
  color: var(--white);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

#menu-btn:hover{
  color: var(--yellow);
  cursor: pointer;
}

.header .appointment-btn{
  display: inline-block;
  font-size: 2rem;
  background: transparent;
  border: 1.5px solid var(--white);
  text-decoration: none;
  color: var(--white);
  padding: 0.7rem 1.5rem;
}

.header .btn-nav {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    top: 0px;
    left: 0px;
}

.header .btn-nav:hover {
    cursor: pointer;
    background: var(--yellow);
    border-color: var(--yellow);
}

.header .appointment-btn:hover {
  cursor: pointer;
  background: var(--yellow);
  border-color: var(--yellow);
}

.header #ddlServices {
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    background: var(--yellow);
}
/*--------------------- 3- Header Area CSS (End) ---------------------*/
/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1px;
    min-height: 100vh;
    position: relative;
}

.home-slider{
  position: relative;
}

.home-slider .swiper-pagination-bullet{
  height: 1.5rem;
  width: 1.5rem;
  background: var(--blue);
  opacity: 0.5;
}

.home-slider .swiper-pagination-bullet-active{
  width: 3.5rem;
  background: var(--yellow);
  opacity: 1;
}


.home-slider .swiper-button-next,
.home-slider .swiper-button-prev{
  background-color: var(--blue);
  color: var(--white);
  font-size: 1rem;
  height: 5rem;
  width: 5rem;
  padding: 2rem;
}

.home-slider .swiper-button-next{
  right: 1rem;
}

.home-slider .swiper-button-prev{
  left: 1rem;
}

.home-slider .swiper-button-prev:after, 
.home-slider .swiper-button-next:after{
  font-size: 2rem;
}

.home-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-item .content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-item .content .text{
  text-align: left;
  width: 122rem;
}

.home-item .content .text h2 {
    font-size: 5rem;
    letter-spacing: 1px;
    color: var(--yellow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #035397;
}

.home-item .content .text p {
    line-height: 1.4;
    font-size: 3.5rem;
    padding: 1rem 0;
    color: var(--yellow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #035397;
}

/*--------------------- 4- Home Area CSS (End) ---------------------*/



/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about{
  overflow: hidden;
}

.about .box-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
      flex: 1 1 40rem;
  height: 50rem;
  overflow: hidden;
  position: relative;
}

.about .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .home-image {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
        height: 57rem;
        overflow: hidden;
        position: relative;
}

.about .content{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
      flex: 1 1 40rem;
  padding: 2rem;
}

.about .content h1{
  font-size: 4rem;
  color: var(--blue);
  padding-bottom: 1.5rem;
}

.about .content p{
  font-size: 1.6rem;
  color: var(--grey);
  line-height: 1.6;
  padding-bottom: 1.5rem;
}

.about .content .btn{
  margin-top: 1rem;
}

.about-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}

.about-info .info-box{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 15rem;
      flex: 1 1 15rem;
  border: 0.2rem solid var(--blue);
  text-align: center;
  padding: 1.5rem;
}

.about-info .info-box i{
  font-size: 4rem;
  color: var(--yellow);
  padding-bottom: 1rem;
}

.about-info .info-box h5{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--blue);
}

.about ul{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1.5rem;
    padding:3%
}

.about ol {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1.5rem;
    padding: 3%
}
/*--------------------- 5- About Area CSS (End) ---------------------*/



/*--------------------- 6- Services Area CSS (Start) ---------------------*/
.services .box-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.service-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33rem;
    flex: 1 1 33rem;
    text-align: center;
    padding: 2rem;
    border: var(--border);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    height: 350px;
}

.service-item .icon{
  display: inline-block;
  font-size: 2rem;
  border: 0.1rem solid var(--blue);
  border-radius: 50%;
  color: var(--blue);
  margin: 0rem auto;
}

.service-item:hover .icon{
  border-color: var(--white);
}

.service-item i{
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: var(--yellow);
}

.service-item h3{
  font-size: 2rem;
  color: var(--blue);
  padding: 1rem 0;
}

.service-item p{
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 1.6;
}

.service-item:hover{
  background-color: var(--blue);
}

.service-item:hover h3{
  color: var(--white);
}

.service-item:hover p{
  color: var(--white);
}

/*--------------------- 6- Services Area CSS (End) ---------------------*/



/*--------------------- 7- Gallery Area CSS (Start) ---------------------*/
.gallery .box-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.gallery-item{
  height: 25rem;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.gallery-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery-item .content{
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(3, 83, 151, 0.7), rgba(3, 83, 151, 0.7));
  background: linear-gradient(rgba(3, 83, 151, 0.7), rgba(3, 83, 151, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: 2rem;
  text-align: center;
}

.gallery-item .content p{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.gallery-item .content a{
  color: var(--yellow);
  font-size: 3rem;
}

.gallery-item:hover .content{
  top: 0;
}

/*--------------------- 7- Gallery Area CSS (End) ---------------------*/



/*--------------------- 8- Team Area CSS (Start) ---------------------*/
.team .box-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

.team .team-item{
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  text-align: center;
  padding: 4rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.team .team-item .image{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0rem auto;
}

.team .team-item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team .team-item .content{
  padding: 2rem 0;
  text-align: center;
}

.team .team-item .content h3{
  font-size: 2.2rem;
}

.team .team-item .content p{
  color: var(--grey);
  font-size: 1.7rem;
  padding: 0.5rem 0;
}

.team .team-item .icons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.team .team-item .icons a{
  display: inline-block;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--yellow);
  border: 0.1rem solid var(--yellow);
  border-radius: 50%;
  text-decoration: none;
  font-size: 2rem;
}

.team .team-item .icons a:hover{
  color: var(--white);
  background-color: var(--yellow);
}

/*--------------------- 8- Team Area CSS (End) ---------------------*/



/*--------------------- 9- Testimonials Area CSS (Start) ---------------------*/
.testimonial-slider{
  position: relative;
  padding: 2rem 8rem 4rem 8rem;
  overflow: hidden;
}

.testimonial-slider .swiper-pagination-bullet{
  background: var(--blue);
}

.testimonial-slider .swiper-pagination-bullet-active{
  background: var(--yellow);
}

.testimonial-slider .swiper-button-next,
.testimonial-slider .swiper-button-prev{
  background-color: var(--blue);
  color: var(--white);
  font-size: 1rem;
  height: 5rem;
  width: 5rem;
  padding: 2rem;
}

.testimonial-slider .swiper-button-next{
  right: 5rem;
}

.testimonial-slider .swiper-button-prev{
  left: 5rem;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
  font-size: 2rem;
}

.testimonial .testi-item{
  text-align: center;
  padding: 2rem 4rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.testimonial .testi-item p{
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 1.6;
  padding-bottom: 2rem;
}

.testimonial .testi-item h3 {
  color: var(--blue);
  padding-bottom: 0.5rem;
  font-size: 2.3rem;
}

.testimonial .testi-item .rating{
  margin-bottom: 2rem;
}

.testimonial .testi-item .rating i {
  color: var(--yellow);
  font-size: 1.8rem;
}

.testimonial .testi-item .image {
  height: 15rem;
  width: 15rem;
  margin: 0 auto;
}

.testimonial .testi-item .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.3rem solid var(--yellow);
  padding: 0.3rem;
}

/*--------------------- 9- Testimonials Area CSS (End) ---------------------*/



/*--------------------- 10- Blog Area CSS (Start) ---------------------*/
.blog .box-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 1.5rem;
}

.blog-item{
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--white);
  border: var(--border);
  position: relative;
  overflow: hidden;
}

.blog-item .title{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: var(--blue);
  opacity: 0.8;
  font-size: 1.7rem;
  line-height: 1.6;
  padding: 0.5rem 1rem;
  text-align: center;
}

.blog-item .image{
  height: 25rem;
}

.blog-item .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-item .content{
  padding: 1rem 1rem 2rem 1rem;
}

.blog-item .info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-item .info p i{
  padding-right: 0.5rem;
  color: var(--blue);
}

.blog-item .content .main-heading{
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--yellow);
}

.blog-item .content p{
  padding: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--grey);
  line-height: 1.5;
}

/*--------------------- 10- Blog Area CSS (End) ---------------------*/



/*--------------------- 11- Contact Area CSS (Start) ---------------------*/
.contact iframe{
  height: 30rem;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.contact .box-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.contact-info{
  background-color: var(--blue);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
      flex: 1 1 40rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

.contact-info h3{
  font-size: 3rem;
  color: var(--white);
}

.contact-info > p{
  font-size: 1.6rem;
  color: var(--white);
  padding: 0.5rem 0;
}

.contact-info .info-item{
  padding: 1rem 0;
}

.contact-info .info-item .gmail{
  text-transform: none;
}

.contact-info .info-item h4{
  font-size: 2rem;
  color: var(--white);
}

.contact-info .info-item .detail{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info .info-item .detail .icon{
  color: var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.contact-info .info-item .detail p{
  font-size: 1.8rem;
  color: var(--white);
  line-height: 1.6;
  padding-left: 1rem;
}

.contact .form{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
      flex: 1 1 40rem;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
}

.contact .form h2{
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1.5rem;
}

.contact .form .box{
  width: 100%;
  background: transparent;
  border: 0.1rem solid var(--blue);
  padding: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  text-transform: none;
}

.contact .form .box::placeholder{
  color: var(--grey);
  text-transform: capitalize;
}

.contact .form .box:focus {
  background: transparent;
  border-color: var(--yellow);
}

.contact .form textarea {
  height: 20rem;
  resize: none;
}

.contact .alert{
  font-size: 2rem;
  color: var(--blue);
  padding-left: 1rem;
}

/*--------------------- 11- Contact Area CSS (End) ---------------------*/



/*--------------------- 12- Appointment Area CSS (Start) ---------------------*/
.appointment-table{
  position: fixed;
  top: 0;
  left: 105%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.appointment-table.active{
  left: 0;
}

.appointment-table #close-appointment-form{
  position: absolute;
  top:1rem; right:1rem;
  font-size: 5rem;
  color:var(--yellow);
  cursor: pointer;
}

.appointment-table .form{
  width: 60rem;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  max-height: 90%;
  overflow-y: auto;
}

.appointment-table .form::-webkit-scrollbar{
  width: 0.8rem;
}

.appointment-table .form::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: #0a0903;
}

.appointment-table .form::-webkit-scrollbar-track{
  background: transparent;
}

.appointment-table .form h2{
  font-size: 2.5rem;
  color: var(--yellow);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1.5rem;
}

.appointment-table .form .box {
  width: 100%;
  background: transparent;
  border: 0.1rem solid var(--blue);
  padding: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--blue);
  text-transform: none;
}

.appointment-table .form .input-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.appointment-table .form .input-box .box{
  width: 49%;
}

.appointment-table .form .box::placeholder {
  color: var(--grey);
  text-transform: capitalize;
}

.appointment-table .form .box:focus {
  background: transparent;
}

.appointment-table .form textarea {
  height: 18rem;
  resize: none;
}

/*--------------------- 12- Appointment Area CSS (End) ---------------------*/



/*--------------------- 13- Footer Area CSS (Start) ---------------------*/
.footer {
  background-color: var(--blue);
  padding: 0 2rem;
}

.footer .box-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.footer-item{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25rem;
      flex: 1 1 25rem;
}

.footer-item h2{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

.footer-item h2 span{
  color: var(--yellow);
}

.footer-item p{
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6;
}


.footer-item .info p{
  display: block;
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.footer-item .info i{
  color: var(--yellow);
    padding-right: 1rem;
}

.footer-item .info .gmail{
  text-transform: none;
}

.footer-item .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.footer-item .social a{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-item .social a i{
    color: var(--yellow);
    font-size: 2rem;
}

.footer-item .social a:hover{
    background-color: var(--yellow);
}

.footer-item .social a:hover i{
    color: var(--white);
}

.footer-item .timing h3{
  color: var(--yellow);
  font-size: 2rem;
}

.footer-item .timing p{
  margin: 0.5rem 0;
}

.footer-item .links a,
.footer-item .iinks p{
  display: block;
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.footer-item .links a i,
.footer-item .links p i{
    padding-right: 0.5rem;
    color: var(--yellow);
}

.footer-item .links a:hover{
  text-decoration: underline;
}

.footer .content{
    text-align: center;
    padding: 2rem 0;
    border-top: 0.2rem solid var(--white);
}

.footer .content p{
    font-size: 2rem;
    color: var(--white);
}

.footer .content p span{
    color: var(--yellow);
}

/*--------------------- 13- Footer Area CSS (End) ---------------------*/



/*--------------------- 14- Scroll-Top (Start) ---------------------*/
.scroll-top{
  position: fixed;
  bottom: 1rem;
  right:1rem;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  font-weight:lighter;
  color: var(--yellow);
  background: var(--white);
  border-radius: 50%;
  border: 0.2rem solid var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 999;
}

.scroll-top:hover{
  background: var(--yellow);
  color:var(--white);
}

/*--------------------- 14- Scroll-Top (End) ---------------------*/
/*new styles*/
.new-card-content{
    margin-bottom: 24px;
    padding: 24px;
}

.card-background-color {
    /*border-radius: 8px;
    border: solid 1px #c5cbce;
    background-color: #f5f7fa;*/

    background: var(--yellow) !important;
    border-radius: 5px;
    border-bottom: 4px solid var(--blue);
    border-top: none;
    padding-left: 30px;
    padding-right: 30px;
}

.contact-letter {
    font-size: 1.7rem;
}

.contact-sticker {
    width: 25%
}

.main-container {
    display: flex;
}
.contact-table {
    display: inline-flex;
}
.contact-box {
    background: transparent;
    border: 0.1rem solid var(--blue);
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--blue);
    text-transform: none;
}

.contact-color {
    color: var(--blue) !important;
}

.home-link-more {
    height: 19px;
    font-size: large;
    color: var(--yellow);
    text-decoration: underline;
}

.divTableCell, .divTableHead {
    border: 1px solid #ffffff;
    /*display: table-cell;
    padding: 3px 10px;*/
    text-align: center;
}

@media (max-width: 320px) {
    .divTableCell {
        width: 100%;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel-accordion {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.card-background-color-areas {
    background: #FCD900 !important;
    border-radius: 5px;
    border-bottom: 4px solid #035397;
    border-top: none;
    padding-left: 30px;
    padding-right: 30px;
}

.card-background-color-areas > ul > li {
    color: #035397;
    list-style-type: none;
}


.card-background-color-areas > ul > li > a:hover {
    font-weight: bold;
}

.link-menu:hover {
    color: #FCD900;
    cursor: pointer;
    text-decoration: underline;
}

.ul-services > li {
    float: left;
    list-style-type: none;
}

.ul-services > li > a {
    display: block;
    color: var(--blue);
    text-align: left;
    padding: 16px;
    text-decoration: none;
}

    .ul-services > li > a:hover {
        background-color: var(--blue);
        color: var(--white);
    }

.card-background-color-menu {
    background: var(--yellow);
    border-radius: 5px;
    border-top: none;
    padding-right: 30px;
    height: 100%;
}

.ul-services {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1.5rem;
}

